.newsImage{
    height: 400px;
    width: 400px;
    margin-left: 400px;
}

#content{
    display: flex;
    flex-direction: column;
    
}

#newsUL{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;

}

#newsUL li{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    border: solid black 2px;
    margin-top: 30px;
    padding: 30px;
}

#loadBtn{
    margin-right: 500px;
    margin-left: 500px;
}

h1{
    text-align: center;
}